part2_followup.json
{
  "name": "Email Marketing - Part 2 - Follow Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 80],
      "id": "4f2cee00-c3e8-4541-99a5-f69fca64eeb4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Gmail List"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": " Status",
              "lookupValue": "Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [672, 80],
      "id": "ae566978-2ef0-454a-9908-45647f9aacc7",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "={{ $json.Name }}",
        "emailType": "text",
        "message": "",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1792, 0],
      "id": "ed8bbd31-347d-4195-a17a-95ea26615056",
      "name": "Send a message",
      "webhookId": "4c5a8201-e9a4-4a96-9aac-4bde108b5bad"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1568, 80],
      "id": "f46ffb83-d6d8-48bc-92c0-ce3bad23ad41",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1344, 80],
      "id": "e9e095ef-ea9b-4d63-b9c0-0ef6baec204d",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2240, 80],
      "id": "b78ecae7-6804-447d-b365-2f5f4f0405c9",
      "name": "Wait",
      "webhookId": "523e4ba9-8138-441d-855c-20bcccd2fc83"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Gmail List"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Loop Over Items').item.json.Name }}",
            "Follow Up": "Done"
          },
          "matchingColumns": ["Name"],
          "schema": [
            {"id": "Name", "displayName": "Name", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false},
            {"id": "Gmail", "displayName": "Gmail", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": " Status", "displayName": " Status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Sending Time", "displayName": "Sending Time", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "Follow Up", "displayName": "Follow Up", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2016, 0],
      "id": "b97f25bd-6144-46a8-b446-a342757db6f4",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a30f23d-d766-416e-a82e-5045b2a0291c",
              "leftValue": "={{ $json['Follow Up'] }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [1120, 80],
      "id": "d69924fc-d194-4764-a3cb-f8e1bef13c0a",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef6a4e0f-0caf-4658-968f-7344c6e723bf",
              "leftValue": "={{ $json['Sending Time'] }}",
              "rightValue": "={{ $('Code in JavaScript').item.json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [896, 80],
      "id": "0946ef24-759f-4188-a6f3-b3dc79984b61",
      "name": "Filter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [224, 80],
      "id": "f102bc41-836b-4d89-a59e-8fc5578dec3e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "jsCode": "const inputDate = $json.currentDate;\n\n// Separate date-time and timezone\nconst datePart = inputDate.slice(0, 23);\nconst timezone = inputDate.slice(23);\n\n// Create Date object\nconst date = new Date(datePart);\n\n// Subtract 3 days (3 * 24 * 60 minutes)\ndate.setMinutes(date.getMinutes() - (3 * 24 * 60));\n\n// Format back manually\nconst pad = (n, z = 2) => ('00' + n).slice(-z);\n\nconst formatted =\n  date.getFullYear() + '-' +\n  pad(date.getMonth() + 1) + '-' +\n  pad(date.getDate()) + 'T' +\n  pad(date.getHours()) + ':' +\n  pad(date.getMinutes()) + ':' +\n  pad(date.getSeconds()) + '.' +\n  pad(date.getMilliseconds(), 3) +\n  timezone;\n\nreturn [\n  {\n    currentDate: formatted\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 80],
      "id": "ab0c9009-f6d7-4388-a39a-bd60972131e6",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Date & Time", "type": "main", "index": 0}]]},
    "Get row(s) in sheet": {"main": [[{"node": "Filter1", "type": "main", "index": 0}]]},
    "Loop Over Items": {"main": [[], [{"node": "Send a message", "type": "main", "index": 0}]]},
    "Limit": {"main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]},
    "Send a message": {"main": [[{"node": "Append or update row in sheet", "type": "main", "index": 0}]]},
    "Append or update row in sheet": {"main": [[{"node": "Wait", "type": "main", "index": 0}]]},
    "Wait": {"main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]},
    "Filter": {"main": [[{"node": "Limit", "type": "main", "index": 0}]]},
    "Filter1": {"main": [[{"node": "Filter", "type": "main", "index": 0}]]},
    "Date & Time": {"main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]},
    "Code in JavaScript": {"main": [[{"node": "Get row(s) in sheet", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false},
  "versionId": "20c8750b-75b7-46f1-b2f8-7d8032e6b8fd",
  "meta": {"templateCredsSetupCompleted": true},
  "nodeGroups": [],
  "id": "o8Vc26WRVSAncjoS",
  "tags": []
}
